<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="style.css">
        <script src="jQuery.min.js"></script>
    </head>

    <body>
        <div class="background-color">
            <div>
                <h1 class="name">
                    Welcome to AR
                </h1>
            </div>
            <div class="button">
                <button id="enter_button" >
                    START
                </button>
            </div>
        </div>   
        <script src="index.js"></script>
    </body>
</html>